body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.flip-clock {
  display: inline-block;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flip-clock .digit {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 1.5em;
  position: relative;
  transform-style: preserve-3d;
  padding: 0;
  margin: 1px;
}

.flip-clock .digit.card {
  width: 0.9em;
  background-color: #001f3f;
  color: white;
  border-radius: 0.1em;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.2),
    0 2px 5px rgba(0, 0, 0, 0.3);
}

.flip-clock .digit.slide {
  animation: slide linear;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #001f3f;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #003263;
}

@keyframes slide {
  0% {
    transform: translateY(-20%) rotateX(90deg);
  }

  100% {
    transform: translateY(0) rotateX(0deg);
  }
}
